
  .app-container {
    display: flex;
  }

  .separator {
    height: 2px;
    width: 160px; /* Adjust the height as needed */
    background-color: #ccc; /* Adjust the color as needed */
    margin: 0 10px; /* Adjust the margin as needed */
    align-self: center;
  } 
  
  .sidebar {
    position: fixed;
    left: 20px;
    top: 20px;
    bottom: 20px;
    width: 200px;
    background-color: #f4f4f4;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: all 0.3s ease;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 0;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    width: 100px;
    height: auto;
  }

  .main-content {
    margin-left: 240px;
    width: calc(100% - 240px);
    display: flex;
    flex-direction: column;
  }

  .content {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .board-container {
    position: absolute;
    top: 12%;
    left: 245px;
    width: 80%; /* Adjust width based on your preference */
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: flex-start;
    margin-top: 20px; /* Optional */
  }

  .page-enter {
    opacity: 0;
}

.page-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

.page-exit {
    opacity: 1;
}

.page-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

