
.topbar {
  position: fixed;
  left: 240px;
  top: 20px;
  bottom: 0;
  height: 10%;
  width: calc(100% - 260px);
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  z-index: 1000;
  overflow: hidden;
  }

  .topbar-left {
    font-size: 20px;
    font-weight: bold;
  }
  
  .topbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  .btnlogo {
    width: 20px;
    height: 20px;
    filter: invert(100%) sepia(100%) saturate(500%) hue-rotate(180deg);
  }
  